<% if user_signed_in? %>
  <li>
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <i class="fa fa-sign-out"></i> <%=t("devise.shared.links.sign_out")%>
    <% end %>
  </li>
<% end %>
