<p><%=t "devise.mailer.password_changed_instructions.greeting", recipient: @resource.email %></p>

<p><%=t "devise.mailer.password_changed_instructions.instruction"%></p>

<p><%=t "devise.mailer.password_changed_instructions.instruction_2"%></p>
